body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.boxes {
    margin: 20px auto;
}

.box {
    border: 2px solid #000;
    padding: 15px;          
    width: 300px;           
    display: inline-block;
    margin: 10px;
    text-align: left;
    height: 350px;      
    overflow: hidden;   
    vertical-align: top; 
    cursor: pointer;
}

.box img {
    width: 100%;
    max-height: 200px;  
    height: auto;       
    display: block;
    margin-bottom: 10px;
    border: 1px solid black;
}

.box h2 {
    font-size: 18px;        
    margin-bottom: 8px;
}

.box-desc {
    font-size: 16px; 
    margin-bottom: 8px;
}

